<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Socials</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'flash', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dropzone', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full w-full">
    <%= render partial: 'shared/flash' %>
    <main class="h-full w-full">
      <%= yield %>
    </main>
  </body>
</html>
